
@font-face {
    font-family: 'Helvetica-Condensed-Light';
    src: url('../fonts/Helvetica-Condensed-Light') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-67-medium-condensed';
    src: url('../fonts/helvetica-67-medium-condensed.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloriahallelujah';
    src: url('../fonts/gloriahallelujah.ttf');
    font-weight: normal;
    font-style: normal;
}
