@import "variables";
@import "./bootstrap/bootstrap";
@import "fonts";
@import "mixins";

html, body, .wrapper {
  max-width: 100%;
  overflow-x: hidden;

  @media (min-width: 992px){
    .col-md-8 {
      width: 58.66667%;
    }
  }
}


body {
  font-size: 1.4em;
}

a {
  cursor: pointer;
}

.err-msg {
  color: #ffffff;
  background-color: rgba(232, 35, 35, 0.9);
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
}

@import "common/file";
@import "console/u-header";
@import "console/auth";



@import "console/loading-bar";
@import "nav";
@import "console/menu";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn:focus {
  outline:0;
}

.no-border {
  border: 0 !important;
}


.has-error {
  .form-control::-moz-placeholder {
    color: #a94442 !important;
  }

  .form-control:-ms-input-placeholder {
    color: #a94442 !important;
  }

  .form-control::-webkit-input-placeholder {
    color: #a94442 !important;
  }

}

.mandatory-help {
  color: #a94442;
  margin-top: 50px;
}

.mandatory-help-field {
  color: #a94442;
}




@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.alert-primary {
  border: 1px solid #18b5ed;
  position: absolute;
  left: 9px;
  width: 278px;
  top: 630px;
  @include border-radius(11px);
}

.btn-lg:active {
  font-size: 18px;
}

.big-font .btn:active {
  font-size: 14px !important;
}

.previewImageContainer img {
  margin: auto;
}


.alert-danger h3{
  margin: 6px;
  font-size: 18px;
  a {
    color: #b44442;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #7f3230;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
}

button, select, html, textarea, input{
  //font-family: "helvetica-67-medium-condensed";
  font-family: 'Lato', Arial, sans-serif;
}

.advertiserCampaignsContainer {
   height: auto;
}

#accordion,  #accordionDashboard{
  a{
    text-decoration:none;
  }
  a>span{
    color: $gray-dark;
  }
  padding-left: 20px;
}
.padingNone{
  padding: 20px 0 20px 0;
}
.userCenterAccordion{
  padding: 15px 0 15px 0;
}
.userCenterAccordion:hover{
  background-color: #f4f2f2;
 }


.onAccordionover{
  display: none;
}

.panel-group:hover .onAccordionover{
  display: block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}




