input:-webkit-autofill {  /* -webkit-autofill background */
  -webkit-box-shadow:0 0 0 50px $white inset;
  -webkit-text-fill-color: #333;
  border: solid #a2a2a2 1px;
}

.logInHeader{
  position: absolute;
}

.loginBox {
  background: url("../img/bg/slide.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;


  .forgotPassword:hover{
    color: $main-blue;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }

  .loginInput{
    width: 100%;
    height: 44px;
    padding-left: 15px;
  }
  .loginInput:focus{
    outline: none !important;
    border:1px solid $main-blue;
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }

  .blur{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    height: 330px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .loginInputWraper{
    position: relative;
    z-index: 1000;
  }
  .login {
    position: relative;
    padding: 25px;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.84);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }
  .login:hover {
    box-shadow: 0 10px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }



  .btn-login{
    color: $gray;
    background-color: $white;
    border: solid 2px $gray;
    margin-top: 30px;
  }
  .btn-login:hover{
    color: $main-blue;
    border: solid 2px $main-blue;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
  }

  .textInput{
    font-size: 16px;
  }



  .btn {
    height: 50px;
    font-size: 25px;

    &:active {
      font-size: 25px;
    }

  }

  .forgot {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    div {
      color: $orange;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }

  }
}


.logoContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.copyright {
  font-size: 0.9em;
  margin-top: 40px;
  color: darken($body-bg, 20%);
}
