.time-btns {
  .open > .dropdown-menu {
    position: absolute;
    top: 111%;
    left: -8px;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
  }

  ul > .dropdown-menu > .active > a, .dropdown-menu > .active {
    //font-size: 16px;
    padding: 1px 0px 1px 0px;
    background-color: #f99a0c;

  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #000;
    background-color: #feffde;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #f99a0c;
  }

  .btn-primary {
    color: #fff;
    background-color: #faaf3e;
    border-color: rgba(225, 160, 58, 0.82);;
  }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(238, 147, 12, 0.83);
    border-color: #dc8606;
  }

  .dropup,
  .dropdown {
    max-height: 1142px;
  }

}

.line-legend li span{
  display: block;
  position: absolute;
  left: 5px;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}


.panel-group {
  margin-bottom: 0px;
}
.panel-body{
  padding: 0px;
}
#sidenav .nav > li > div > a {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 20px;
}

#sidenav .nav > li > div > a span {
  position: relative;
  bottom: 5px;
}
#sidenav .nav > li:active {
  color: black;
  background-color: transparent; }
#sidenav .nav > li:active i {
  color: black;
}

#sidenav .nav > li > div > a:hover, #sidenav .nav > li > div > a:focus {
  background-color: #f4f2f2;
  text-decoration: none;
}

@media (min-width: 768px){
  .navbar-nav > li > div > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav > li > div > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

#collapseFour > div > ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
}




#collapseFour > div > ul > li  > a {
  color: $gray-dark;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 20px;
}
#collapseFour > div > ul > li  > a span {
  position: relative;
}
#collapseFour > div > ul > li  > a > i {
  font-size: 18px;
}


#collapseFour .panel-body > ul > li .active {
  color: black;
  background-color: transparent;
  text-shadow: 0px 1px 2px rgba(219, 219, 219, 0.35);
}
#collapseFour .panel-body > ul > li .active i {
  color: black;
  text-shadow: 0px 1px 2px rgba(219, 219, 219, 0.35);
}


#collapseFour .panel-body > ul > li > a:hover, #collapseFour .panel-body > ul> li > a:focus {
  background-color: #f4f2f2;
  text-decoration: none;
}

@media (min-width: 768px){
  #collapseFour .panel-body > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#collapseFour > div > ul > li  > a{
  position: relative;
  display: block;
  padding: 10px 15px;
}
















#collapseDash > div > ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
}




#collapseDash > div > ul > li  > a {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 20px;
}
#collapseDash > div > ul > li  > a span {
  position: relative;
}
#collapseDash > div > ul > li  > a > i {
  font-size: 18px;
}


#collapseDash .panel-body > ul > li .active {
  color: black;
  background-color: transparent;
}
#collapseDash .panel-body > ul > li .active i {
  color: black;
}


#collapseDash .panel-body > ul > li > a:hover, #collapseDash .panel-body > ul> li > a:focus {
  background-color: #f4f2f2;
  text-decoration: none;
}

@media (min-width: 768px){
  #collapseDash .panel-body > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#collapseDash > div > ul > li  > a{
  position: relative;
  display: block;
  padding: 10px 15px;
}






.accordionIco{
  font-size: 2px;
}


.time-btns{
  text-align: right;
}
.downBtn{
  padding: 0;
}
.chartMargin{
  padding: 5px 0 40px 0;
}
.dpLine{
  padding-top: 20px;
}
h2{
  font-size: 19px;
}
