.uHeader{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2000;

  .headerTopBar{
    position: relative;
    height: 50px;
    background-color: $white;
    color: $ligh-grey;
    @include box-shadow(0px 0px 8px 6px lightgrey);

    .fa{
      float: left;
      font-size: 29px;
      margin-left: 12px;
      margin-top: 9px;
      cursor: pointer;
    }

    .title{
      text-align: center;
      font-size: 25px;
      height: 50px;
      line-height: 50px;
    }

    .logoImage{
      top: 2px;
      right: 0;
      float: right;
      margin-right: 15px;
      position: absolute;
      height: 45px;
    }
  }

}








//
//
//
//
//.uHeader{
//  position: relative;
//  top: 0;
//  width: 100%;
//  z-index: 2000;
//
//  .headerTopBar{
//    position: relative;
//    height: 50px;
//    background-color: #ffffff;
//    color: #2e2e2e;
//    //@include box-shadow(0px 0px 8px 6px lightgrey);
//    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
//
//    .fa{
//      float: left;
//      font-size: 29px;
//      margin-left: 12px;
//      margin-top: 9px;
//      cursor: pointer;
//    }
//
//    .title{
//      text-align: center;
//      font-size: 25px;
//      height: 50px;
//      line-height: 50px;
//    }
//
//    .logoImage{
//      top: 2px;
//      right: 0;
//      float: right;
//      margin-right: 15px;
//      position: absolute;
//      height: 45px;
//    }
//    .logoImage:hover{
//      background-image: url('/ulike-platform/source/img/logos/play_store_icon_1.png');
//    }
//  }
//
//}
