<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">reset_password"</h4>
</div>
<div class="modal-body">
    <div class="alert alert-danger bouncy-slide-right" ng-if="resetServerError && !isOk">
        <span>{{resetServerError}}</span>
    </div>
    <div class="row" ng-if="!isOk" style="padding-bottom : 9px">
        please enter your email adress to receive a new password and reset instructions
    </div>
    <form ng-if="!isOk">
        <div class="form-group emailRow textbox" ng-submit="submit()">
            <input class="form-control" type="email" name="login" placeholder="email address" id="login" ng-model="user.userId" required>
        </div>
        <button class="btn btn-primary btn-block" type="submit" ng-click="submit()">submit</button>
    </form>
    <div class="row" ng-if="isOk" style="font-size:1.5em">
        <i class="fa fa-check"></i> email sent
    </div>
</div>
